---
import { Icon } from 'astro-icon/components';
import { truncateDescription } from '../utils/index';
const { destination } = Astro.props;
---

<div class='bg-white rounded-lg overflow-hidden shadow-lg group'>
  <div class='relative h-[250px] overflow-hidden'>
    <img
      src={destination.image}
      alt={destination.name}
      class='absolute w-full h-full object-cover transition-transform duration-500 group-hover:scale-110'
    />
  </div>
  <div class='p-6'>
    <h3 class='text-2xl font-bold mb-2 text-black-200'>
      {destination.name}
    </h3>
    <p class='text-black-300 mb-4'>
      {truncateDescription(destination.description, 120)}
    </p>
    <div class='mb-4'>
      <h4 class='font-semibold mb-2 text-black-200'>Popular Activities:</h4>
      <ul class='list-disc list-inside text-black-300'>
        {destination.activities.map((activity: any) => <li>{activity}</li>)}
      </ul>
    </div>
    <a
      href={`/destinations/${destination.id}`}
      class='btn-primary inline-flex items-center'
    >
      Explore More
      <Icon name='chevron-right' class='w-4 h-4 ml-1' />
    </a>
  </div>
</div>
