---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

export interface TrackCardProps {
  id: number;
  title: string;
  description: string;
  image: string;
  duration: string;
  groupSize: string;
  destinations: string[];
  highlights: string[];
}

const {
  id,
  title,
  description,
  image,
  duration,
  groupSize,
  destinations,
  highlights,
} = Astro.props;
---

<div
  class='relative mb-6 bg-white rounded-3xl overflow-hidden shadow-xl hover:shadow-2xl transition-all duration-300 border-2 border-primary'
>
  <div class='flex flex-col md:flex-row'>
    <div class='md:w-2/5 relative'>
      <Image
        src={image}
        alt={title}
        width={600}
        height={400}
        class='w-full h-full object-cover'
      />
      <div class='absolute inset-0 bg-primary opacity-20'></div>
      <div
        class='absolute inset-0 bg-gradient-to-b from-black/30 to-black/60 flex items-end p-6'
      >
        <h2 class='text-3xl font-bold text-white'>{title}</h2>
      </div>
    </div>
    <div class='md:w-3/5 p-6 md:p-8 flex flex-col'>
      <p class='text-lg text-black-300 mb-6'>{description}</p>
      <div class='grid grid-cols-2 gap-4 mb-6'>
        <div class='flex items-center text-sm text-black-300'>
          <Icon name='clock' class='w-5 h-5 mr-2 text-secondary' />
          <span>{duration}</span>
        </div>
        <div class='flex items-center text-sm text-black-300'>
          <Icon name='people' class='w-5 h-5 mr-2 text-secondary' />
          <span>{groupSize}</span>
        </div>
      </div>
      <div class='mb-6 bg-primary-100 p-4 rounded-lg'>
        <h3 class='text-lg font-semibold text-primary mb-2 flex items-center'>
          <Icon name='geo-alt' class='w-5 h-5 mr-2 text-secondary' />
          Sacred Destinations
        </h3>
        <p class='text-primary-foreground'>{destinations.join(' • ')}</p>
      </div>
      <div class='mb-6 flex-grow bg-primary-100 p-4 rounded-lg'>
        <h3 class='text-lg font-semibold text-primary mb-2 flex items-center'>
          <Icon name='tree' class='w-5 h-5 mr-2 text-secondary' />
          Spiritual Highlights
        </h3>
        <ul class='list-none text-primary-foreground columns-2'>
          {
            highlights.map((highlight: any) => (
              <li class='flex items-center mb-2'>
                <Icon
                  name='tree'
                  class='w-4 h-4 mr-2 text-secondary flex-shrink-0'
                />
                {highlight}
              </li>
            ))
          }
        </ul>
      </div>
      <a
        href={`/tracks/${id}`}
        class='btn-primary text-white text-center group self-start mt-auto flex items-center justify-center px-6 py-2 rounded-full transition-colors duration-300'
      >
        Explore This Journey
        <Icon
          name='wind'
          class='w-5 h-5 ml-2 transition-transform duration-300 group-hover:translate-x-1'
        />
      </a>
    </div>
  </div>
  <div
    class='absolute top-0 left-0 w-full h-2 bg-gradient-to-r from-primary via-primary-100 to-secondary'
  >
  </div>
</div>
